{{ define "shell" }} page-shell--home{{ end }}
{{ define "main" }}
{{ $posts := where site.RegularPages "Type" "in" site.Params.mainSections }}
<section class="home">
  <div class="home__feed">
    <ul class="post-rows">
      {{ range first 8 $posts }}
        {{ partial "post_row.html" (dict "page" .) }}
      {{ end }}
    </ul>
    {{ if gt (len $posts) 8 }}
    <p class="home__more">
      <a href="{{ "archives/" | relURL }}">All posts &rarr;</a>
    </p>
    {{ end }}
  </div>
</section>
{{ end }}
