{{- $showSub := .showSub | default false -}}
{{- $p := .page -}}
{{- $sub := "" -}}
{{- if $showSub -}}
  {{- with $p.Params.subtitle -}}
    {{- $sub = . -}}
  {{- else -}}
    {{- with $p.Params.description -}}
      {{- $sub = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<li class="post-row">
  <a class="post-row__link" href="{{ $p.RelPermalink }}">
    <span class="post-row__head">
      <span class="post-row__title" style="view-transition-name: {{ partial "vt-name.html" $p }}">{{ $p.Title }}</span>
      <time class="post-row__date" datetime="{{ $p.Date.Format "2006-01-02" }}">{{ $p.Date.Format "2006-01-02" }}</time>
    </span>
    {{- with $sub -}}
      <span class="post-row__sub">{{ . }}</span>
    {{- end -}}
  </a>
</li>
